<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            width: 200px;
            height: 200px;
            display: inline-block;
            
        }
    </style>
</head>

<body>
    {% for i in range(number) %}
    <div style="background-color: {{color}};"></div>
    {% endfor %}


</body>

</html>